<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="format-detection" content="telephone=no">
</head>
<body>
	<f:alias map="{scss:constants.plugin.bootstrap_package.settings.scss}">

	<div style="font-size:14px; color:{scss.black}; background-color:{scss.white};">
		<f:render section="content" />
	</div>
	
	</f:alias>
</body>
</html>